
<!DOCTYPE html>
<html lang="en">
{#    <a>#}
{#            <img class="logo" src={{ url_for('static',filename='assets/img/backgrounds/1.jpg') }} >#}
{#    </a>#}
    <head>

        <meta charset="utf-8">
        <title>网信院WIFI签到</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- CSS -->
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans:400,700'>
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Oleo+Script:400,700'>
        <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/assets/css/style.css">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>

    <body >

        <div class="header">
            <div class="container
                <div class="row">
                    <div class="logo span4">
                        <div style="float: left ;width: 60px;height: 60px" >
                            <img  class="logo_img"   src={{ url_for('static',filename='assets/img/logo.jpg') }}  >
                        </div>
                        <div style="float: left">
                            <h1 ><a href="/">&nbsp&nbsp &nbsp &nbsp 网信院 <span class="red">.</span></a></h1>
                        </div>
                        <div style="float: right ;width: 60px;height: 60px" >
                            <img  class="logo_img"   src={{ url_for('static',filename='assets/img/logo.jpg') }}  >
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="register-container container">
            <div class="row">

                <div class="register span6">
                    <form action="" method="get">
                        <h2>WIFI签到系统</h2>
                        <a href="register">
                            <button type="button">信息注册</button>
                        </a>
                        <a href="query">
                            <button type="button">签到查询</button>
                        </a>
                        <a href="modify_information">
                            <button type="button">信息修改</button>
                        </a>


                    </form>

                </div>
            </div>

        </div>

        <!-- Javascript -->
        <script src="static/assets/js/jquery-1.8.2.min.js"></script>
        <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="static/assets/js/jquery.backstretch.min.js"></script>
        <script src="static/assets/js/scripts.js"></script>

    </body>

</html>

